# Remap the duplicates!

In [1]:
import pandas as pd
import numpy as np

from progressbar import ProgressBar

In [2]:
behaviors = pd.read_csv('../../data/mind_small_train/behaviors.tsv', sep="\t", header=None)
news= pd.read_csv('../../data/mind_small_train/news.tsv', sep="\t", header = None)

In [3]:
news.shape

(51282, 8)

In [4]:
news.head()

,0,1,2,3,4,5,6,7
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [5]:
duplis_title = news[news.duplicated(subset=3, keep=False)]

In [6]:
duplis_title.head()

,0,1,2,3,4,5,6,7
86,N61864,news,newsopinion,The News In Cartoons,News as seen through the eyes of the nation's ...,https://assets.msn.com/labs/mind/AABGTFJ.html,[],[]
195,N59709,sports,football_nfl,Adrian Peterson had to 'hold back tears' in re...,Adrian Peterson returned to Minnesota on Thurs...,https://assets.msn.com/labs/mind/AAJl4BK.html,"[{""Label"": ""Adrian Peterson"", ""Type"": ""P"", ""Wi...","[{""Label"": ""Adrian Peterson"", ""Type"": ""P"", ""Wi..."
202,N13882,sports,football_nfl,Adrian Peterson had to 'hold back tears' in re...,Adrian Peterson returned to Minnesota on Thurs...,https://assets.msn.com/labs/mind/AAJl4BQ.html,"[{""Label"": ""Adrian Peterson"", ""Type"": ""P"", ""Wi...","[{""Label"": ""Adrian Peterson"", ""Type"": ""P"", ""Wi..."
225,N6632,entertainment,celebrity,Star Tracks: Celebs on Vacation,Celebrity Vacations: Where Stars Travel,https://assets.msn.com/labs/mind/AADzDnw.html,[],[]
239,N14042,autos,autosnews,Latest Automotive Safety Recalls,The latest safety recalls issued by the Nation...,https://assets.msn.com/labs/mind/AAFfB8g.html,[],"[{""Label"": ""National Highway Traffic Safety Ad..."

In [7]:
title_set = duplis_title[3].unique()

In [8]:
len(title_set)

646

In [9]:
article_list = []
for title in title_set:
    x = duplis_title[duplis_title[3]==title][0].to_list()
    article_list.append(x)

In [10]:
article_list[:5]

[['N61864', 'N47020'],
 ['N59709', 'N13882', 'N57732', 'N56582'],
 ['N6632', 'N39995'],
 ['N14042', 'N21933'],
 ['N37736', 'N22941', 'N60979']]

In [11]:
news_dropped = news.drop_duplicates(subset=3, keep='first')

In [12]:
news_dropped[news_dropped[0] == 'N13882']

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7]
Index: []

In [14]:
articleID_dict = {}
articles_to_change = []
for article in article_list:
    value = article[0]
    keys = article [1:]
    for k in keys:
        articleID_dict[k] = value
        articles_to_change.append(k)

In [15]:
behaviors = behaviors.rename(columns={3:'history'})
behaviors = behaviors.rename(columns={0:'impression_id'})
behaviors = behaviors.rename(columns= {1 : 'user_id'})
behaviors = behaviors.rename(columns= {2 : 'time'})
behaviors = behaviors.rename(columns= {4 : 'labels'})
#behaviors_unique_userIDs = behaviors.drop_duplicates(subset="user_id").copy()

In [20]:
behaviors.dropna(inplace=True)

In [21]:
behav = behaviors.copy()

In [22]:
behaviors.head()

,impression_id,user_id,time,history,labels
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [23]:
behav.head()

,impression_id,user_id,time,history,labels
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [27]:
pbar = ProgressBar()

user = []
user_labels = []
for idx in pbar(behav.index):
    hist_flag = False
    user_row = behav.loc[idx, :]
    hist = user_row.history
    hist_list = hist.split()
    for art in hist_list:
        if art in articles_to_change:
            hist_flag = True
            user.append(user_row["user_id"])
            hist = hist.replace(art, map_dict[art])
    if hist_flag:
        behav.loc[idx, "history"] = hist
    
    label_flag = False
    labels = user_row.labels
    labels_list = [l[:-2] for l in labels.split()]
    for l in labels_list:
        if l in articles_to_change:
            label_flag = True
            user_labels.append(user_row["user_id"])
            labels = labels.replace(l, map_dict[l])
    if label_flag:        
        behav.loc[idx, "labels"] = labels

100% |########################################################################|

In [29]:
set1 = set(behaviors.loc[1, "history"].split()) 
set2 = set(behav.loc[1, "history"].split())
set1 ^ set2

{'N3142', 'N3723', 'N47020', 'N61864'}

In [31]:
hist1 = behaviors[behaviors.user_id=='U19739']
set1 = set(hist1.history.to_list()[0].split())
hist2 = behav[behav.user_id=='U19739']
set2 = set(hist2.history.to_list()[0].split())
set1 ^ set2

{'N47020', 'N61864'}

In [32]:
news[news[0]=='N47020']

,0,1,2,3,4,5,6,7
22967,N47020,news,newsopinion,The News In Cartoons,News as seen through the eyes of the nation's ...,https://assets.msn.com/labs/mind/AAJ7oYd.html,[],[]

In [33]:
news[news[0]=='N61864']

,0,1,2,3,4,5,6,7
86,N61864,news,newsopinion,The News In Cartoons,News as seen through the eyes of the nation's ...,https://assets.msn.com/labs/mind/AABGTFJ.html,[],[]

In [34]:
user_labels[:6]

['U15130', 'U56488', 'U52398', 'U46643', 'U73311', 'U90127']

In [47]:
hist1 = behaviors[behaviors.user_id=='U8355']
set1 = set(hist1.labels.to_list()[0].split())
hist2 = behav[behav.user_id=='U8355']
set2 = set(hist2.labels.to_list()[0].split())
set1 ^ set2

{'N58710-0'}

In [56]:
hist2.labels.to_list()[0].count('N9271-0')

2

In [49]:
map_dict['N58710']

'N9271'

In [246]:
behav.head()

,impression_id,user_id,time,history,labels
0,1,U13740,11/11/2019 9:05:58 AM,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,11/12/2019 6:11:30 PM,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,11/14/2019 7:01:48 AM,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,11/11/2019 5:28:05 AM,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,11/12/2019 4:11:21 PM,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [61]:
behav.to_csv("../../data/mind_small_train/behaviors_processed.csv", index=False)

In [63]:
news_dropped.head(1)

,0,1,2,3,4,5,6,7
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N19639,health,weightloss,50 Worst Habits For Belly Fat,These seemingly harmless habits are holding yo...,https://assets.msn.com/labs/mind/AAB19MK.html,"[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik...","[{""Label"": ""Adipose tissue"", ""Type"": ""C"", ""Wik..."
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."

In [64]:
news_dropped = news_dropped.rename(columns={0:'article_id'})
news_dropped = news_dropped.rename(columns={1:'category'})
news_dropped = news_dropped.rename(columns={2:'subcategory'})
news_dropped = news_dropped.rename(columns={3:'title'})
news_dropped = news_dropped.rename(columns={4:'abstract'})
news_dropped = news_dropped.rename(columns={5:'url'})
news_dropped = news_dropped.rename(columns={6:'title_entities'})
news_dropped = news_dropped.rename(columns={7:'abstract_entities'})

In [67]:
news_dropped.head(1)

,article_id,category,subcategory,title,abstract,url,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]

In [66]:
news_dropped.to_csv("../../data/mind_small_train/news_processed.csv", 
                    index=False)